#root {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

/* Propio */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  
}


.navbar, 
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .dropdown-menu,
.navbar .dropdown-menu a {
  color: #7499f5 !important;
  font-weight: bold;
  
}

a:hover{
  color: #7499f5 !important;
  text-decoration: underline;
}
.navbar-light{
    background-color: #f5c68d;
}
.bordes{
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
    background-color: #aee6b7;
    margin: 5px 5px 5px 5px ;

}
.carrusel-wrap{
  
  justify-content: center;
  margin-top: 2rem;

}
.carrusel-img {
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
.footer-fixed{
  background-color: #f5c68d;
  
  bottom: 0;
  left: 0;
  width: 100%;

}

a>i{
    font-size: 30px; 
    color: cornflowerblue;
}

.bord{
    border-style: solid;
    background-color: #f5bb74b9;
    width: 500px;
    
}
input:hover{
    background-color: #a4c2fa;
}

button:hover{
    background-color: #a4c2fa;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
  margin-inline-end: 10px;
  padding-top: 15px;
  padding-left: 50px;
}

.prod-card{
  width: 90%;

}