a:hover{
    font-weight: bold;
    font-family: sans-serif;
}
nav{
    background-color: #f5bb74;
}
.bordes{
    padding: 5px;
    margin: 10px;
}
.carrusel-img {
  height: 300px; 
  object-fit: contain; 
}
footer{
    background-color: #f5bb74;
}
a>i{
    font-size: 35px; 
    color: cornflowerblue;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}



