a:hover{
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
}
nav{
    background-color: #f5bb74;
}
.bordes{
    padding: 5px;
    margin: 10px;
}
.carrusel-img {
  height: 300px; 
  object-fit: contain; 
}
footer{
    background-color: #f5bb74;
}

